* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}

.box1 {
  height: 400px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  gap: 30px;
  background-color: white;
  border-radius: 25px;
}

.box2 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
 
}


.box4 {
  
  width: 300px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
}

form {
  color: #f1b814;
  font-size: 16px;
}

.title {
  text-align: center;
  color: white;
  font-size: 40px;
}

h1 {
  color: #490b3d;
  font-size: 24px;
}

h2 {
  color: #bd1e51;
  font-size: 20px;
}

.btn {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: #490b3d;
  cursor: pointer;
}
